@font-face {
    font-family: 'Atlan Bold It';
    src: url("../fonts/Atlan-BoldIt.woff2") format("woff2"), url("../fonts/Atlan-BoldIt.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan Extra Light It';
  src: url("../fonts/Atlan-ExtraLightIt.woff2") format("woff2"), url("../fonts/Atlan-ExtraLightIt.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan Black It';
  src: url("../fonts/Atlan-BlackIt.woff2") format("woff2"), url("../fonts/Atlan-BlackIt.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan';
  src: url("../fonts/Atlan-Regular.woff2") format("woff2"), url("../fonts/Atlan-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan Semi Bold It';
  src: url("../fonts/Atlan-SemiBoldIt.woff2") format("woff2"), url("../fonts/Atlan-SemiBoldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan';
  src: url("../fonts/Atlan-Bold.woff2") format("woff2"), url("../fonts/Atlan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan';
  src: url("../fonts/Atlan-Black.woff2") format("woff2"), url("../fonts/Atlan-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan Light It';
  src: url("../fonts/Atlan-LightIt.woff2") format("woff2"), url("../fonts/Atlan-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan Semi';
  src: url("../fonts/Atlan-SemiBold.woff2") format("woff2"), url("../fonts/Atlan-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan';
  src: url("../fonts/Atlan-Heavy.woff2") format("woff2"), url("../fonts/Atlan-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan Heavy It';
  src: url("../fonts/Atlan-HeavyIt.woff2") format("woff2"), url("../fonts/Atlan-HeavyIt.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan';
  src: url("../fonts/Atlan-Light.woff2") format("woff2"), url("../fonts/Atlan-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan Thin It';
  src: url("../fonts/Atlan-ThinIt.woff2") format("woff2"), url("../fonts/Atlan-ThinIt.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan';
  src: url("../fonts/Atlan-Thin.woff2") format("woff2"), url("../fonts/Atlan-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan Extra';
  src: url("../fonts/Atlan-ExtraLight.woff2") format("woff2"), url("../fonts/Atlan-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Atlan It';
  src: url("../fonts/Atlan-RegularIt.woff2") format("woff2"), url("../fonts/Atlan-RegularIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    margin: 0;
    min-width: 320px;
    font-size: 18px;
    font-family: "Atlan", sans-serif, Arial;
    font-weight: 400;
    line-height: 1.25;
    background-color: #fff;
    color: #424242;
    border-right: 25px solid #45aaa7;
}

@media (max-width: 1023px) {
    body {
        border-right: 9px solid #45aaa7;
    }
}

body.overflow {
    overflow: hidden;
}

@media (max-width: 1023px) {
    .overflow {
        overflow: hidden;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

button,
button:active,
button:focus {
    outline: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

h3,
h2 {
    font-size: 36px;
    line-height: 49px;
    font-weight: 500;
    color: #30394a;
    margin: 0 0 30px;
}

.container {
    max-width: 1681px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 500px) {
    .container {
        padding: 0 15px;
    }
}

.container--page {
    max-width: 1644px;
}

.container--comments_slider {
    max-width: 1339px;
}

.wrapper {
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.decoration {
    border-right: 34px solid #fff;
    border-left: 58px solid #fff;
    background-image: url(../images/index/bg.png);
    background-position: center -120px;
    background-repeat: no-repeat;
}

@media (max-width: 1023px) {
    .decoration {
        border-right: 23px solid #fff;
        border-left: 24px solid #fff;
        background-size: 368px 460px;
        background-position: center 241px;
    }
}

@media (max-width: 400px) {
    .decoration {
        background-size: 250px 250px;
    }
}

.decoration--left {
    background-position: 52px -120px;
}

@media (max-width: 1118px) {
    .decoration--left {
        background-position: center 241px;
    }
}

.decoration--noBg {
    background-image: none;
}

.button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    width: 100%;
    height: 27px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Atlan", sans-serif, Arial;
    background-color: #4dbbb8;
    color: #ffff;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s;
}

.button:hover {
    color: inherit;
}

input[type="search"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    display: block;
    width: 100%;
    height: 43px;
    padding: 16px 0 14px 18px;
    border: 1px solid #424242;
    background: none;
    font-size: 14px;
    font-family: inherit;
    transition: all 0.1s;
}

@media (max-width: 490px) {
    input[type="search"],
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
        font-size: 12px;
    }
}

@media (max-width: 1023px) {
    input[type="search"],
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
        font-size: 14px;
    }
}

input[type="search"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder {
    color: #424242;
    font-weight: normal;
}

input[type="search"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="number"]::-moz-placeholder {
    color: #424242;
    font-weight: normal;
}

input[type="search"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder {
    color: #424242;
    font-weight: normal;
}

input[type="search"]::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="number"]::-ms-input-placeholder {
    color: #424242;
    font-weight: normal;
}

input[type="search"]::placeholder,
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="password"]::placeholder,
  input[type="number"]::placeholder {
    color: #424242;
    font-weight: normal;
}

input[type="search"] {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 17px;
}

input[type="search"]:focus {
    box-shadow: none;
}

input[type="file"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 43px;
    border: 1px solid #f4f4f4;
    background: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: inherit;
    transition: all 0.2s;
}

input[type="file"]::-webkit-input-placeholder {
    color: #ffffff;
}

input[type="file"]::-moz-placeholder {
    color: #ffffff;
}

input[type="file"]:-ms-input-placeholder {
    color: #ffffff;
}

input[type="file"]::-ms-input-placeholder {
    color: #ffffff;
}

input[type="file"]::placeholder {
    color: #ffffff;
}

input[type="file"]:focus {
    border-color: #282b31;
}

input[type="text"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type="text"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    display: block;
    width: 100%;
    height: 300px;
    resize: none;
    padding: 16px;
    border: none;
    padding: 16px 0 14px 18px;
    border: 1px solid #424242;
    background: none;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    color: #424242;
    transition: all 0.2s;
}

@media (max-width: 490px) {
    textarea {
        font-size: 12px;
    }
}

textarea::-webkit-input-placeholder {
    color: #424242;
}

textarea::-moz-placeholder {
    color: #424242;
}

textarea:-ms-input-placeholder {
    color: #424242;
}

textarea::-ms-input-placeholder {
    color: #424242;
}

textarea::placeholder {
    color: #424242;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ label::after {
    opacity: 1;
}

.checkbox {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.checkbox:before {
    content: '';
    display: inline-block;
    background-color: #424242;
    width: 11px;
    height: 11px;
    margin-right: 8px;
    transition: all .1s;
}

.checkbox::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    top: 4px;
    left: 2px;
    transition: all .2s;
    display: block;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.jcf-select {
    width: 100%;
    max-width: 200px;
    margin: 0 1px 0 0;
    outline: 1px solid #4dbbb8;
    cursor: pointer;
    color: #4dbbb8;
    text-transform: uppercase;
    font-size: 15px;
    width: 100%;
    padding: 14px 0 10px 14px;
    position: relative;
}

.jcf-select-drop {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 1px;
    background-color: #fff;
    z-index: 2;
    border-radius: 4px;
    box-shadow: 3px 5px 20px rgba(141, 141, 141, 0.1);
    border: 1px solid rgba(228, 228, 228, 0.5);
    padding: 11px 0 11px 13px;
}

.jcf-option {
    font-size: 14px;
    cursor: pointer;
}

.jcf-list-content {
    display: block;
}

.jcf-select-opener {
    position: relative;
}

.jcf-select-opener::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 5px;
    right: -24px;
    border: 10px solid transparent;
    border-top: 10px solid #45aaa7;
}

.jcf-drop-active .jcf-select-opener::before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: -5px;
}

.header {
    border-top: 42px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 1023px) {
    .header {
        border-top: 21px solid rgba(255, 255, 255, 0.5);
    }
}

.header__wrap {
    display: -ms-flexbox;
    display: flex;
    transition: all .2s;
}

.header__wrap.activePadding {
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 760px;
}

@media (max-width: 1362px) {
    .header__wrap.activePadding {
        margin-right: 0;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media (max-width: 1023px) {
    .header__wrap {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.header__wrap--burger {
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 428px) {
    .header__wrap--burger {
        width: 100%;
    }
}

.header__wrap--burger .header__btn-menu {
    z-index: 300;
}

.header__wrap--burger .header__logo {
    margin: -42px 0px 0px 0px;
}

.header__logo {
    margin-top: -42px;
    background-color: #45aaa7;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 163px;
    height: 163px;
    position: relative;
}

@media (max-width: 767px) {
    .header__logo {
        margin-top: -21px;
        margin-left: -24px;
        width: 158px;
        height: 158px;
    }
}

.header__btn-menu {
    position: relative;
    height: 25px;
    width: 40px;
    margin: 40px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .header__btn-menu {
        width: 20px;
        height: 20px;
    }
}

.header__btn-menu.animationClose span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #4ec4c0;
}

.header__btn-menu.animationClose span:nth-child(2) {
    opacity: 0;
}

.header__btn-menu.animationClose span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #4ec4c0;
}

.header__btn-menu span {
    transition: all .3s;
    position: absolute;
    top: 0px;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: #4ec4c0;
}

.header__btn-menu span:nth-child(2) {
    top: 11px;
}

.header__btn-menu span:nth-child(3) {
    top: 20px;
}

.header__title {
    padding-top: 36px;
    position: relative;
}

@media (max-width: 1023px) {
    .header__title {
        padding-top: 0px;
    }
}

.header__title p, .header__title span {
    font-size: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
}

.header__title p {
    color: #45aaa7;
}

.header__title span {
    font-weight: 300;
}

.burger {
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all .2s;
    padding-top: 42px;
    border-right: 25px solid #45aaa7;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 2;
}

.burger.activeBurger {
    left: 0;
}

.burger__wrapp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 171px;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    background-color: #f4f4f4;
    width: 100%;
    max-width: 1207px;
    margin-right: 36px;
    position: relative;
}

@media (max-width: 1268px) {
    .burger__wrapp {
        padding-left: 0;
        -ms-flex-align: center;
        align-items: center;
    }
}

.burger__nav {
    margin-bottom: 30px;
}

.burger__nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.burger__nav li {
    margin-bottom: 23px;
}

.burger__nav li:last-child {
    margin-right: 0;
}

.burger__nav a {
    font-size: 18px;
    text-transform: uppercase;
    color: #424242;
    font-weight: 300;
}

.burger__nav a span {
    font-weight: 600;
}

.burger__sicial {
    margin-bottom: 40px;
}

.burger__sicial img {
    max-width: 25px;
    max-height: 25px;
}

.burger__sicial img:first-child {
    margin-right: 14px;
}

.burger__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-transform: uppercase;
}

.burger__link a {
    margin-bottom: 13px;
}

.hero {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100vh - 121px);
}

@media (max-width: 767px) {
    .hero {
        min-height: auto;
        padding: 72px 0px 172px 0px;
    }
}

@media (max-width: 400px) {
    .hero {
        padding: 40px 0 60px 0;
    }
}

.hero__wrapp {
    max-width: 500px;
    margin: 0 auto;
}

.hero__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #4dbbb8;
    margin-bottom: 29px;
}

.hero__descr {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.14;
    margin-bottom: 32px;
    color: #424242;
}

@media (max-width: 400px) {
    .hero__descr {
        font-size: 20px;
    }
}

.hero__caption {
    font-weight: 300;
    color: #424242;
    margin-bottom: 40px;
}

.hero .button {
    max-width: 150px;
}

@media (max-width: 767px) {
    .hero .button {
        max-width: 180px;
    }
}

.footer {
    background-color: #f4f4f4;
    padding-top: 36px;
    position: relative;
}

@media (max-width: 767px) {
    .footer {
        padding-top: 41px;
    }
}

.footer__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__social {
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .footer__social {
        margin-bottom: 24px;
    }
}

.footer__social a {
    margin-right: 20px;
    display: inline-block;
}

@media (max-width: 767px) {
    .footer__social a {
        margin-right: 32px;
    }
}

.footer__social a:last-child {
    margin-right: 0;
}

.footer__social img {
    max-width: 33px;
    max-height: 33px;
    display: inline-block;
}

.footer__nav {
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .footer__nav {
        margin-bottom: 47px;
    }
}

.footer__nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 767px) {
    .footer__nav ul {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.footer__nav li {
    margin-right: 23px;
}

@media (max-width: 767px) {
    .footer__nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.footer__nav li:last-child {
    margin-right: 0;
}

.footer__nav a {
    font-size: 18px;
    text-transform: uppercase;
    color: #424242;
    font-weight: 300;
}

@media (max-width: 767px) {
    .footer__nav a {
        font-size: 24px;
    }
}

.footer__nav a span {
    font-weight: 600;
}

.footer__descr {
    padding: 8px 0px 5px 0px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    position: relative;
    z-index: 5;
    background-color: #5fb6b3;
}

@media (max-width: 767px) {
    .footer__descr-desc {
        display: none;
    }
}

.footer__descr-resp {
    display: none;
    font-size: 18px;
}

@media (max-width: 767px) {
    .footer__descr-resp {
        display: block;
    }
}

.filter {
    padding-bottom: 100px;
}

@media (max-width: 767px) {
    .filter {
        padding-bottom: 72px;
    }
}

.filter__select-wrapp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.filter__description {
    width: 100%;
    max-width: 800px;
}

.filter__description span {
    color: #4dbbb8;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 26px;
    display: block;
}

.filter__description p {
    line-height: 1.55;
    color: #424242;
    font-weight: 300;
    margin-bottom: 35px;
    max-width: 500px;
}

@media (max-width: 767px) {
    .filter__description p {
        margin-bottom: 45px;
    }
}

.filter__select {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 36px;
}

.filter__select .select {
    width: 100%;
    max-width: 200px;
    margin: 0px 1px 0px 0px;
}

@media (max-width: 767px) {
    .filter__select .select {
        margin: 1px 1px 0px 0px;
    }
}

.filter__card {
    padding-bottom: 77px;
}

@media (max-width: 767px) {
    .filter__card {
        padding-bottom: 54px;
    }
}

.filter__card-feedback {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-height: 250px;
    margin-bottom: 33px;
}

@media (max-width: 1023px) {
    .filter__card-feedback {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.filter__card-feedback-descr {
    background-color: #45aaa7;
    padding: 46px 0px 0px 23px;
    width: 100%;
    max-width: 389px;
}

@media (max-width: 1023px) {
    .filter__card-feedback-descr {
        max-width: 100%;
        padding-left: 26px;
    }
}

.filter__card-feedback-descr span, .filter__card-feedback-descr p {
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.filter__card-feedback-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 0px 0px 40px;
    background-color: #fff;
    width: 100%;
    position: relative;
}

@media (max-width: 1023px) {
    .filter__card-feedback-info {
        padding: 40px 0px 47px 26px;
    }
}

.filter__card-feedback-info .button {
    max-width: 140px;
    margin: 0;
}

.filter__card-feedback-info time {
    margin-bottom: 10px;
    font-size: 18px;
}

.filter__card-feedback-info span {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}

.filter__card-feedback-info p {
    margin-bottom: 28px;
    max-width: 861px;
}

.filter__info-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: #45aaa7;
    cursor: pointer;
}

.filter__info-close-btn span {
    color: #fff;
    margin: 0;
    font-weight: 600;
}

.filter .row {
    padding-bottom: 28px;
}

.filter .row:last-child {
    padding-bottom: 0;
}

@media (max-width: 1199px) {
    .filter .row {
        padding-bottom: 0px;
    }
}

@media (max-width: 1199px) {
    .filter__card-item {
        margin-bottom: 29px;
    }
}

.filter__card-item-inner {
    height: 100%;
    min-height: 250px;
    padding: 44px 0px 38px 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: 0px 6px 18.69px 2.31px rgba(0, 0, 0, 0.21);
}

.filter__card-descr {
    font-size: 18px;
    text-transform: uppercase;
}

.filter__card-descr p {
    color: #4dbbb8;
}

.filter__card-descr span {
    font-weight: 600;
    color: #424242;
}

.filter__card-postscrip {
    max-width: 257px;
    color: #424242;
}

.filter__btn {
    max-width: 126px;
    margin: 0 auto;
}

.list {
    padding-bottom: 122px;
    border-bottom: 47px solid #fff;
}

@media (max-width: 767px) {
    .list {
        border-top: 137px;
        border-bottom: none;
    }
}

.list__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.list__descr {
    text-align: center;
}

.list__descr span {
    font-weight: 600;
    font-size: 20px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .list__descr span {
        margin-bottom: 48px;
    }
}

.list__descr span:before {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    width: 208px;
    background-color: #45aaa7;
}

.list__descr p {
    max-width: 515px;
    font-weight: 600;
    font-size: 35px;
    line-height: 1.14;
    padding-top: 15px;
    padding: 15px 0 115px 0;
}

@media (max-width: 767px) {
    .list__descr p {
        display: none;
    }
}

.list__table {
    width: 100%;
    max-width: 1093px;
}

.list__tr {
    border-bottom: 1px solid #000;
    padding: 30px 95px 27px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .list__tr {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.list__tr:first-child {
    padding-top: 0;
}

.list__tr:nth-child(even) span {
    font-weight: 400;
}

@media (max-width: 767px) {
    .list__tr:nth-child(even) span {
        font-weight: 300;
    }
}

.list__tr:last-child {
    border-bottom: none;
}

.list__tr span {
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
}

.list__tr p {
    max-width: 463px;
}

.dashboard {
    height: 100%;
}

.dashboard__wrapp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 1023px) {
    .dashboard__wrapp {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

.dashboard__text {
    max-width: 623px;
    width: 40%;
}

@media (max-width: 767px) {
    .dashboard__text {
        width: 100%;
        max-width: 100%;
    }
}

.dashboard__descr span {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
    color: #45aaa7;
    font-weight: 600;
    display: block;
}

@media (max-width: 767px) {
    .dashboard__descr span {
        margin-bottom: 22px;
    }
}

.dashboard__descr p {
    font-size: 48px;
    line-height: 1.27;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .dashboard__descr p {
        margin-bottom: 63px;
    }
}

@media (max-width: 400px) {
    .dashboard__descr p {
        font-size: 30px;
    }
}

.dashboard__postscr span {
    text-transform: uppercase;
    font-size: 40px;
    display: block;
}

@media (max-width: 767px) {
    .dashboard__postscr span {
        font-size: 22px;
    }
}

.dashboard__postscr p {
    text-transform: uppercase;
    font-size: 40px;
    color: #45aaa7;
    font-weight: 600;
}

@media (max-width: 767px) {
    .dashboard__postscr p {
        font-size: 22px;
    }
}

.dashboard__board {
    width: 60%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: -52px;
    padding-top: 28px;
}

@media (max-width: 1440px) {
    .dashboard__board {
        margin-bottom: 20px;
        width: 50%;
    }
}

@media (max-width: 767px) {
    .dashboard__board {
        width: 100%;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.dashboard__percent, .dashboard__auf, .dashboard__interes {
    width: 400px;
    height: 100%;
    min-height: 400px;
    box-shadow: 0px 6px 18.69px 2.31px rgba(0, 0, 0, 0.21);
    background-color: #fff;
    padding: 50px 0px 0px 50px;
}

@media (max-width: 767px) {
    .dashboard__percent, .dashboard__auf, .dashboard__interes {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .dashboard__percent, .dashboard__auf, .dashboard__interes {
        padding: 30px 0 0 30px;
    }
}

.dashboard__percent {
    margin-bottom: 152px;
}

@media (max-width: 1440px) {
    .dashboard__percent {
        margin-bottom: 20px;
    }
}

.dashboard__board-wrapp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media (max-width: 767px) {
    .dashboard__board-wrapp {
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 100%;
    }
}

.dashboard__percent-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.dashboard__percent-num {
    font-size: 94px;
    line-height: 0.9;
    color: #45aaa7;
    margin-bottom: 17px;
}

.dashboard__percent-postscr {
    display: block;
    font-size: 22px;
    max-width: 230px;
}

.dashboard__auf {
    background-color: #45aaa7;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 23px;
    margin-left: 21px;
}

@media (max-width: 767px) {
    .dashboard__auf {
        margin-left: 0;
    }
}

.dashboard__auf img {
    max-width: 120px;
    max-height: 120px;
    -o-object-fit: contain;
    object-fit: contain;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 29px;
}

.dashboard__auf-title {
    font-size: 20px;
    display: block;
    margin-bottom: 22px;
    color: #fff;
    font-weight: 600;
}

.dashboard__auf-descr {
    font-size: 25px;
    color: #fff;
    display: block;
    margin-bottom: 17px;
    font-weight: 600;
}

.dashboard__auf-postscr {
    color: #fff;
    font-size: 14px;
    line-height: 1.42;
    max-width: 280px;
}

.dashboard__interes {
    background-color: #777777;
}

.dashboard__interes span {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 23px;
    display: block;
}

.dashboard__interes p {
    font-size: 14px;
    max-width: 271px;
    color: #fff;
}

.dashboard .button {
    max-width: 150px;
    margin-bottom: 103px;
}

@media (max-width: 767px) {
    .dashboard .button {
        margin-bottom: 63px;
    }
}

.logo {
    background-color: #fff;
    padding: 135px 0px 120px 0px;
}

@media (max-width: 767px) {
    .logo {
        padding: 68px 0px 57px 0px;
    }
}

.logo__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 767px) {
    .logo__wrap {
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .logo__text:first-child {
        padding-bottom: 65px;
    }
}

.logo__text span {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 52px;
    display: block;
    text-transform: uppercase;
}

.logo__text p {
    font-size: 18px;
    line-height: 1.55;
    max-width: 300px;
    margin-bottom: 32px;
}

.logo__img {
    display: block;
    border-left: 2px solid #4dbbb8;
    border-right: 2px solid #4dbbb8;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 0px 67px 0px 67px;
    margin: 0px 40px 0px 67px;
}

@media (max-width: 767px) {
    .logo__img {
        -ms-flex-order: -1;
        order: -1;
        border-left: none;
        border-right: none;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 71px 0px;
        margin: 0 auto;
    }
}

.logo__img img {
    max-width: 190px;
    max-height: 190px;
}

.logo .button {
    max-width: 152px;
}

@media (max-width: 767px) {
    .logo .button {
        max-width: 180px;
    }
}

.impressum {
    padding: 222px 0 148px 0;
    border-bottom: 35px solid #fff;
}

.impressum span {
    text-transform: uppercase;
    font-size: 18px;
    display: block;
}

.impressum p {
    font-size: 18px;
    line-height: 1.55;
}

.impressum .container {
    max-width: 1068px;
}

.impressum__name span {
    font-size: 20px;
    font-weight: 600;
    color: #4dbbb8;
    margin-bottom: 6px;
}

.impressum__name p {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.impressum__addres {
    margin-bottom: 29px;
}

.impressum__addres-title {
    padding: 0px 0px 33px 0px;
}

.impressum__addres-indent {
    margin-bottom: 35px;
}

.impressum__kontakt {
    margin-bottom: 35px;
}

.impressum__kontakt a {
    display: block;
    margin-bottom: 7px;
}

.impressum__kontakt-title {
    padding: 0px 0px 35px 0px;
}

.impressum__kontakt-link {
    padding: 0px 0px 23px 0px;
}

.impressum__text-block {
    margin-bottom: 65px;
}

.impressum__text-block span {
    margin-bottom: 35px;
    font-weight: 600;
}

.impressum__text-block p {
    margin-bottom: 35px;
}

.impressum__text-block p:last-child {
    margin-bottom: 0;
}

.impressum__quelle p {
    font-weight: 700;
}

.event {
    padding: 233px 0 20px 0;
    border-bottom: 35px solid #fff;
}

.event span {
    display: block;
}

.event__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.event__header {
    margin-bottom: 34px;
}

.event__header-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.75;
    color: #4dbbb8;
}

.event__header-descr {
    line-height: 1.14;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
}

.event__date {
    margin-bottom: 80px;
}

.event__date ul {
    border-top: 2px solid #4dbbb8;
    border-bottom: 2px solid #4dbbb8;
    padding: 10px 0 18px 0;
}

.event__date li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.event__date li p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.95;
    text-transform: uppercase;
    padding-left: 20px;
}

.event__date li svg {
    width: 26px;
    height: 26px;
    fill: #45aaa7;
}

.event__date-title {
    font-weight: 300;
    line-height: 1.55;
    margin-bottom: 54px;
}

.event__body-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.event__body-list {
    margin-bottom: 29px;
}

.event__body-list li {
    font-weight: 300;
    line-height: 1.55;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.event__body-list li:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 9px;
}

.event__body-descr {
    margin-bottom: 28px;
}

.event__body-descr span {
    font-weight: 600;
    line-height: 1.55;
}

.event__postscr {
    font-weight: 300;
    margin-bottom: 6px;
    line-height: 1.55;
}

.event__footer .button {
    max-width: 174px;
}

.event .logo {
    background-color: transparent;
}

.event .container {
    max-width: 991px;
}

.form {
    padding: 20px 0 0 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.form input {
    width: 100%;
    margin-bottom: 32px;
}

.form .jcf-select {
    max-width: 100%;
    height: 43px;
    outline: none;
    border: 1px solid #424242;
    margin-bottom: 32px;
}

.form .jcf-select-text {
    font-weight: 300;
    font-size: 18px;
    text-transform: none;
    color: #424242;
    line-height: 1;
    position: relative;
}

.form .jcf-select-opener {
    position: static;
}

.form .jcf-select-opener:before {
    content: '';
    right: 18px;
    top: 50%;
}

.form .jcf-drop-active .jcf-select-opener::before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 5px;
}

.form__wrap {
    width: 100%;
    max-width: 776px;
}

.form__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form__left, .form__right {
    width: 48%;
}

.form__textarea {
    margin-bottom: 37px;
}

.form__checkbox {
    color: #45aaa7;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.form .button {
    max-width: 108px;
    margin-bottom: 37px;
}
